* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%;
  margin: 0 auto;

  padding: 2em;
}

.intro-content {
  width: 50%;
}
