* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  background: #23424a;
  color: white;
  padding: 50px 0;
}

.intro-content,
.paragraph-content {
  margin: 0 auto;
  max-width: 750px;
  width: 80%;
}

.half-width {
  width: 50%;
}

.paragraph-container {
  width: 100%;
}
